---
import Blog from "../../layouts/Blog.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <Blog>

        <h1 class="text-2xl">Why AI won't replace Craft</h1>

        <div>
            <p>[ craft ]</p>
            <p class="text-white/30">1. an activity involving skill in making things by hand</p>
        </div>
        
        <p>
        what craft means in art
        - In art, craft is not just manual labor.
        - Craft is **intentional engagement with process**.
        - It’s about understanding the medium deeply enough to make _choices_, not just outcomes.
        - Working with limitations is clear with physical art, in digital art the boundaries of these limitations have always been pushed
        </p>

        <p>
        the paradox with digital art - tools make digital art but artists draw limits
        tools keep getting better, but we've had steps
        ai is a leap
        </p>

        <p>
        in sports this exists but they can ban the tools
        in a competitive world we can't ban the tools
        most artists will need to adapt to stay competitive, some few might be able to stick with what they do with niche audiences
        </p>

        <p>
        we want to keep craft in digital art alive so we should not skip the entire process
        tools are not being explored to be built for artists, they are explored to create new artists
        - The goal is minimal input → maximal output
        - These tools are optimized for results, not for practice
        - Craft in art can't exist without practice
        </p>

        <p>
        this exists in software engineering
        vibe coding replaces the engineer, copilot, review tools, etc enhance the engineer
        we can do the same in digital art, we can have ai art for anything that is pure entertainment or pure utility. anything that requires more thought or should fulfill a specific purpose can have artists behind it
        </p>

        <p>
        goal of tools in art is not only efficiency (difference to software engineering). it is also to allow new things (e.g. new unreal features, better lighting, more realism, etc.). AI is the ultimate tool to allow more creativity and more possibilities because it skips the traditional limitations of AI art. We can build processes and tools for artists that keep craft alive but allowing the artist to express their creativity more freely. This doesn't mean creating art with a single click because it skips the craft, it means building tools that use let artists use AI to create what they couldn't before.
        - AI is the most powerful creative tool we’ve ever had
        - Its value is enabling artists to create things they _couldn’t before_
        </p>

    </Blog>
</Layout>