@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-geist: "Geist", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
}

:root {
    color-scheme: dark;
}

body {
    font-size: 14px;
    background-color: black;
}

body.light {
    color-scheme: light;
    background-color: white;
    color: black;
}

::selection {
    background-color: var(--color-amber-900);
}