@import "tailwindcss";
@plugin "tailwindcss-motion";

@font-face {
    font-family: "Satoshi";
    src: url('/Satoshi-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-satoshi: "Satoshi", sans-serif;
}

:root {
    color-scheme: dark;
}

body {
    font-size: 16px;
    background-color: #0f0f0f;
}

::selection {
    background-color: var(--color-indigo-700);
}

/* Contact pill group */
.contact-link {
    transition: all 170ms ease-in-out;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    will-change: border-radius, translate;
    cursor: pointer;
}
.contact-link:not(:nth-child(1)) {
    margin-left: -1px;
}

/* Base rounding */
#contact-1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#contact-4 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Hover effects on desktop */
@media (min-width: 48rem) {
    .contact-link:hover {
        box-shadow: inset 0 0 0 1px rgb(40, 40, 40);
    }

    #contact-1:hover {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .contact-links:has(#contact-1:hover) > #contact-2 {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        translate: 8px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-1:hover) > #contact-3 {
        translate: 8px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-1:hover) > #contact-4 {
        translate: 8px;
        filter: blur(1px)
    }
    /* --- */
    #contact-2:hover {
        border-radius: 20px;
    }
    .contact-links:has(#contact-2:hover) > #contact-1 {
        translate: -8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-2:hover) > #contact-3 {
        translate: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-2:hover) > #contact-4 {
        translate: 8px;
        filter: blur(1px)
    }
    /* --- */
    #contact-3:hover {
        border-radius: 20px;
    }
    .contact-links:has(#contact-3:hover) > #contact-2 {
        translate: -8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-3:hover) > #contact-1 {
        translate: -8px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-3:hover) > #contact-4 {
        translate: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        filter: blur(1px)
    }
    /* --- */
    #contact-4:hover {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .contact-links:has(#contact-4:hover) > #contact-3 {
        translate: -8px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-4:hover) > #contact-2 {
        translate: -8px;
        filter: blur(1px)
    }
    .contact-links:has(#contact-4:hover) > #contact-1 {
        translate: -8px;
        filter: blur(1px)
    }
}

/* Copy animation */
#contact-4[data-copied="true"] .ph-envelope-simple {
    scale: 0;
}
#contact-4[data-copied="true"] .ph-check {
    scale: 1;
}