---
import Layout from '../layouts/Layout.astro';
import Terminal from '../layouts/Terminal.astro';
---

<Layout>
	<Terminal>	

		<div class="flex flex-col">
			<a class="hover:underline underline-offset-4 cursor-default">AI art and the loss of craft</a>
			<span class="text-white/30">December 22 2025</span>
		</div>

	</Terminal>
</Layout>