---
import Layout from '../layouts/Layout.astro';
import Terminal from '../layouts/Terminal.astro';
---

<Layout>
	<Terminal>
		
		<div class="flex flex-col gap-0">
			<p class="text-white">> Engineer with a passion for design and user experience.<br/>Currently based in Berlin.</p>
		</div>
		
		<div class="flex flex-col gap-2">
			<div class="flex flex-col gap-0">
				<p>▣ Fullstack engineer at <a class="text-rose-400 hover:underline underline-offset-2" href="https://tesla.com" target="_blank">Tesla</a> since 2022</p>
				<p class="ml-5 text-white/30">Built an internal team and many apps from scratch. Responsible for development, UX, product strategy and communication.</p>
			</div>
			<div class="flex flex-col gap-0">
				<p>▣ Bachelor in Interaction Design from <a class="text-rose-400 hover:underline underline-offset-2" href="https://www.code.berlin" target="_blank">CODE University</a></p>
				<p class="ml-5 text-white/30"></p>
			</div>
		</div>

		<div class="flex flex-col gap-1">
			<p class="text-white/30">Projects</p>
			<div>
				<p><span class="text-emerald-400">┗ </span><a href="https://superhivemarket.com/products/serpens?search_id=44774722" target="_blank" class="text-white hover:underline underline-offset-2">Blender Scripting Nodes</a> <a href="https://github.com/joshuaKnauber/scripting_nodes/tree/blender_5" target="_blank" class="text-white hover:underline underline-offset-2">(GitHub)</a></p>
			</div>
		</div>

		<div class="flex flex-col gap-1">
			<p class="text-white/30">Contact</p>
			<div>
				<p><span class="text-emerald-400">┣ </span><a href="https://x.com/joshuaknauber" target="_blank" class="text-white hover:underline underline-offset-2">X</a></p>
				<p><span class="text-emerald-400">┣ </span><a href="https://github.com/joshuaknauber" target="_blank" class="text-white hover:underline underline-offset-2">GitHub</a></p>
				<p><span class="text-emerald-400">┗ </span><a href="https://www.linkedin.com/in/joshua-knauber-410b31221/" target="_blank" class="text-white hover:underline underline-offset-2">LinkedIn</a></p>
			</div>
		</div>

	</Terminal>
</Layout>