---
import { LegoView } from '../components/LegoView';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lego — Joshua Knauber</title>
  </head>
  <body class="bg-[#FDEFE2]! w-screen h-screen text-[#020303]">
    <LegoView client:only />
  </body>
</html>
