.container {
    perspective: 500px;
}

.container div:nth-of-type(2) {
    transform-style: preserve-3d;
    transform-origin: left center;
    transition: all 0.25s cubic-bezier(0.65, 0, 0.35, 1);
}

.container:hover div:nth-of-type(2) {
    transform: rotateY(-30deg);
    background-color: #0f0f0f;
}

.container.open div:nth-of-type(2) {
    transform: rotateY(-180deg);
    background-color: hsl(0, 0%, 4%);
    color: transparent
}