---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Joshua Knauber" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://joshuaknauber.com" />
		<meta property="og:image" content="https://joshuaknauber.com/og.jpg" />
		<meta property="og:description" content="Personal website of Joshua Knauber" />

		<title>Joshua Knauber</title>
	</head>
	<body class="font-geist-mono">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
